@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
}

body {
    background-image: linear-gradient(to left, #434343 0%, black 100%);
    font-family: "Poppins", sans-serif;
}

.header {
    min-height: 100dvh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(main-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */
}

.container {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
}

.container .logo {
    text-transform: uppercase;
    border-bottom: 2px solid;
    color: white;
    font-size: 1.1rem;
}

.container .nav_bar{
    width: 40%;
}

.container .nav_bar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .nav_bar ul li{
    list-style: none;
}
.container .nav_bar ul li a{
    font-size: 0.9rem;
    color: #bfd7ff;
    text-decoration: none;
    position: relative;
}

.container .nav_bar ul li a::before{
    content: "";
    bottom: 0;
    position: absolute;
    height: 2px;
    width: 0;
    background: #bfd7ff;
    transition: all 0.4s ease-in-out;
}
.container .nav_bar ul li a:hover::before{
    width: 98%;
}
.btn {
    text-transform: uppercase;
    border: 2px solid #9bb1ff;
    border-radius: 5px;
    padding: 0.4rem;
    font-weight: bold;
    background: transparent;
    color: #bfd7ff;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    color: #e2fdff;
    text-decoration: none;
    background-color: #788bff;
}
.container .nav_bar ul li .btn:hover a::before{
    width: 0;
}

/* Main  */

.main {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}


.main p {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.main .dnt-btn {
    margin-top: 20px;
}
.main .dnt-btn a{
    text-decoration: none;
}


/* About */

.about{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    /* overflow-x: hidden; */
}

.about .about-heading{
    color: white;
    font-size: 1.6rem;
}

.about .about-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .about-content img{
    height: 25em;
    width: 40em;
}

.about .about-content p{
    width: 40em;
    margin-left: 20px;
    color: #e2fdff;
    line-height: 150%;
    font-size: 16px;
}



/* Contact  */

.contact {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://img.freepik.com/free-photo/businessman-touching-virtual-screen_1232-737.jpg?w=1380&t=st=1686493192~exp=1686493792~hmac=41b65e4119c38e1a6cdccfe7aa7a44678c85716e5fa737b56f9ca9384db9955b);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
}

.contact .contact_head {
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    color: white;
}

.contact .contact_head h3 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
}

.contact .contact_head p {
    padding: 2px;
    font-size: 20px;
}

.contact .contact_form {
    display: block;
    width: 500px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 2em;
    margin-top: 15px;
    padding: 3px;
}

.contact .contact_form h2{
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #bfd7ff;
    text-decoration: underline;
}



.contact .contact_form input {
    margin-left: 40px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
}

.contact .contact_form textarea {
    display: inline;
    margin-right: 40px;
    margin-top: -90px;
    padding: 15px;
    float: right;
    border-radius: 1.1em;
}

.contact .contact_form .btn{
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    border: 2px solid black;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    background-color: #bfd7ff;
    transition:  all 0.2s ease-in;
}
.contact .contact_form .btn:hover{
    
    background-color: #788bff;
    scale: 1.1;
    
}
/* Donate  */

.main_head {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://img.freepik.com/free-photo/full-shot-kids-posing-outdoors_23-2148761580.jpg?w=1380&t=st=1686474653~exp=1686475253~hmac=af607f2969d3d70f62eddbf64029bf90d4adb4f337359a8cf5cc17b074577e7b);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */
}

.donationBtn {
    margin-top: 20px;
}




@media only screen and (max-width: 600px) {
    
    .container .logo{
        font-size: 8px;
    }
    .container .nav_bar ul{
        gap: 4px;
    }
    .container .nav_bar ul li a{
        font-size: 10px;
    }
    .btn{
        font-size: 10px;
        padding: 2px;
    }

    .about .about-content img{
        height: 250px;
        width: 370px;
    }
    .about .about-content p{
        width: 370px;
    }
    .contact .contact_form{
        width: 370px;
        position: relative;
    }
    .contact .contact_form textarea{
        position: absolute;
        padding: 0;
        margin-left: 5px;
        height: 100px;
        width: 100px;
        padding: 2px;
        border-radius: 10px;
    }
}